@mixin btn {
  text-transform: uppercase;
  @include Montserrat-semibold();
  font-size: 14px;
  padding: 8px 16px;
  color: $primary;
  transition: all .5s ease-in-out;
  &:hover{
    border: 1px solid #381DDB;
  }
  &:focus{
    box-shadow: none;
  }
}
@mixin main-btn {
  background-color: $primary;
  border: none;
  border-radius: 4px;
  color: #fff;
  @include Raleway-medium();
  font-size: 16px;
  padding: 15px 38px;
  margin-left: 24px;
  border: 1px solid $primary;
  transition: all 0.5s ease-in-out;
  width: fit-content;
  &:hover {
    background-color: transparent;
    color: $primary;
  }
  @include max-breakpoints(tablet-small) {
    padding: 13px 45px;
  }
}
